[submodule "Go"]
	path = Go
	url = https://github.com/akhilesh-bangalore/Learning-GoLang.git
[submodule "Ecmascript 2015"]
	path = Ecmascript 2015
	url = https://github.com/akhilesh-bangalore/Learning-Ecmascript-2015
